# Database
DB_USER=hrms_user
DB_PASSWORD=CHANGE_ME_strong_password_here
DB_NAME=hrms_db

# Backend
SECRET_KEY=CHANGE_ME_random_64_char_string
TOKEN_EXPIRE_MINUTES=60
CORS_ORIGINS=https://hrms.celestialstech.com

# Frontend
REACT_APP_API_URL=https://hrms-api.celestialstech.com
